
body {
    background-color: #f1f1f1;
    margin-top: 0 !important;
}

header {
    background-color: #DBB269;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header .header-wrapper {
    padding: 10px 10px 23px 10px;
    background-color:  #f1f1f1;
    z-index: 5;
}

header .radios {
    float: right;
}

header .logo {
    font-size: 2em;
}

.left {
    position: fixed;
    width: 400px;
    top: 60px;
    left: 0;
}


.right {
    position: absolute;
    left: 400px;
    max-width: 1520px;
    margin: 60px 20px;
}

.right[data-feed="tumblr"] {
    -moz-column-count:1;
    -moz-column-gap: 3%;

    -webkit-column-count:1;
    -webkit-column-gap: 3%;

    column-count: 1;
    column-gap: 3%;

}


.box {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    border: 10px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.left {
    width: 400px;
}

.cont {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    color: #444;
}

.cont a {
    text-decoration: none;
}


@media only screen and (min-width: 980px) {
    .right[data-feed="tumblr"] {
        -moz-column-count:2;
        -webkit-column-count:2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1280px) {
    .right[data-feed="tumblr"] {
        -moz-column-count:3;
        -webkit-column-count:3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1680px) {
    .right[data-feed="tumblr"] {
        -moz-column-count:4;
        -webkit-column-count:4;
        column-count: 4;
    }
}