<template name="header">
    <header>
        <div class="header-inner">
            <a href="/" class="logo"><img src="Velopedia-logo.png" alt=""/></a>
            <div class="buttons">
                <div class="list-button  header-icon flaticon-text146"><span class="icon-title">CyclingTips</span><i class="flaticon-arrow483 downarrow"></i></div>
                <div class="grid-button header-icon flaticon-phone336"><span class="icon-title">Tumblr</span><i class="flaticon-arrow483 downarrow"></i></div>
            </div>
        </div>
    </header>
</template>